<a href="https://colab.research.google.com/github/riyagupta20csu269/RL/blob/main/UCB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset=pd.read_csv('Ads_Optimisation.csv')

In [ ]:
dataset

      Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0        1     0     0     0     1     0     0     0     1      0
1        0     0     0     0     0     0     0     0     1      0
2        0     0     0     0     0     0     0     0     0      0
3        0     1     0     0     0     0     0     1     0      0
4        0     0     0     0     0     0     0     0     0      0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
9995     0     0     1     0     0     0     0     1     0      0
9996     0     0     0     0     0     0     0     0     0      0
9997     0     0     0     0     0     0     0     0     0      0
9998     1     0     0     0     0     0     0     1     0      0
9999     0     1     0     0     0     0     0     0     0      0

[10000 rows x 10 columns]

In [ ]:
import random
N=10000
d=10
ads_selected=[]
total_rewards=0

In [ ]:
for n in range(0,N):
  ad=random.randrange(d)
  ads_selected.append(ad)
  reward=dataset.values[n,ad]
  total_rewards +=reward

In [ ]:
pd.Series(ads_selected).tail(1000).value_counts(normalize=True)

0    0.119
4    0.116
1    0.103
3    0.099
9    0.099
6    0.096
7    0.095
5    0.095
8    0.090
2    0.088
dtype: float64

In [ ]:
pd.Series(ads_selected).tail(1000).value_counts(normalize=False)

0    119
4    116
1    103
3     99
9     99
6     96
7     95
5     95
8     90
2     88
dtype: int64

In [ ]:
pd.Series(ads_selected).head(1000).value_counts(normalize=True)

0    0.115
2    0.109
9    0.106
8    0.102
7    0.101
4    0.095
5    0.094
1    0.093
3    0.093
6    0.092
dtype: float64

In [ ]:
import math
N = 10000
d = 10
ads_selected = []
numbers_of_selections = [0]*d
sums_of_reward=[0]*d
total_reward=0
for n in range(0,N):
  ad=0
  max_upper_bound=0

In [ ]:
from pandas.core.arrays.boolean import numbers
for n in range(0,n):
  ad=0
  max_upper_bound = 0
  for i in range (0,d):
    if(numbers_of_selections[i]>0):
      average_reward=sums_of_reward[i]/numbers_of_selections[i]
      delta_i=math.sqrt(2*math.log(n+1)/numbers_of_selections[i])
    else:
      upper_bound=1e400
    if upper_bound> max_upper_bound:
      max_upper_bound=upper_bound
      ad=i
    ads_selected.append(ad) 
    numbers_of_selections[ad]+=1
    reward=dataset.values[n,ad]
    sums_of_reward[ad]+=reward
    total_reward+= reward

In [ ]:
pd.Series(ads_selected).head(1500).value_counts(normalize=True)

0    1.0
dtype: float64